body{
    margin: 0;
    font-family: "Arial";
    cursor: url(../img/cursor-cus.cur), auto;
}

/* HEADER */

header{
    width: 100%;
    box-shadow: 0 0 5px rgb(0 0 0/ 10%);
}

.hghcDIVNERUIGKUVNEKVJJVNOHKLVMKGJJJVNNKSFIJG{
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    align-items: center;
    height: 55px;
}

.logo a{
    cursor: url(../img/cursor-poin.cur), auto;
}

.header_wrapper{
    background-color: #1f1f56;
}

.header_ul a{
    text-decoration: none;
    font-size: 14px;
    margin: 0 22px 0 0;
    color: #b1b1d2;
    cursor: url(../img/cursor-poin.cur), auto;
}

#orange{
    color: #fd8300;
}

.header_ul li a:hover{
    color: #fd8300;
}

.header_ul{
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
}

.header_ul{
    padding: 12px 0;
}



            /*ICONS*/


.icons{
    padding: 10px 0 0 0;
}

.icons img{
    margin: 0 0 0 22px;
}

.icons ul{
    list-style: none;
    display: flex;
    align-items: center;
}

.icons li{
    padding: 10px;
}

.icons a {
    display: block;
    background-image: url(../img/sprites.png);
    transition: 0.5s;
}

.icons a {
    transition: 0.5s;
    display: block;
    background-image: url(../img/sprite.png);
}

a.fb {
    width: 10px;
    height: 19px;
}

a.tw {
    background-position: 6.3rem 0;
    width: 18px;
    height: 15px;
}

a.inst {
    background-position: 12rem 0;
    width: 19px;
    height: 19px;
}

a.fb:hover {
    background-position: 0 -2.25rem;
}

a.tw:hover {
    background-position: 6.3rem -2.25rem;
}

a.inst:hover {
    background-position: 12rem -2.25rem;
}


                /*ICONS*/

.vertical-line {
    display: inline;
    height: 51px;
    border-left: 1px solid #e4e4ec;
}
                


.wrapper-first{
    max-width: 960px;

    margin: 0 auto;
    padding: 20px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.image-iconss img{
    display: block;
    margin: 8px 0;
    padding: 7px 0 0 0;
}

.image-iconss{
    padding: 0 10px 0 0;
}

.contacts a{
    text-decoration: none;
    font-size: 18px;
    color: #25252c;
    font-weight: bold;
    display: block;
    margin: 8px 0;
    cursor: url(../img/cursor-poin.cur), auto;
}

.contacts ul{
    list-style: none;
    padding: 0;
}

.contacts a:hover{
    color: #fd8300;
    text-decoration: underline;
}

.gmail a{
    text-decoration: none;
    font-size: 16px;
    color: #25252c;
    display: block;
    margin: 8px 0;
    cursor: url(../img/cursor-poin.cur), auto;
}
.gmail ul{
    list-style-type: none;
    padding: 0;
}

.gmail a:hover{
    color: #fd8300;
    text-decoration: underline;
}

.gmail-image{
    display: flex;
}

.button-call a{
    text-decoration: none;
    font-size: 16px;
    color: #25252c;
    font-weight: bold;

    border: 2px solid #fd8300;
    border-radius: 25px;
    background-color: #ffffff;
    padding: 15px 30px;
    cursor: url(../img/cursor-poin.cur), auto;
}

.button-call a:hover{
    background-color: #fd8300;
    color: #fff;
}

.phone::before {
    content: url(../img/phone.png);
    position: absolute;
    margin: 0 0 0 -25px;
}

.icons li a{
    cursor: url(../img/cursor-poin.cur), auto;
}

/*Main*/

.main{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

section{
    padding: 0 0 18px 0;
}

section h1{
    font-size: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "RobotoSlab";
}

section p{
    font-size: 14px;
    color: #666;
    font-family: "Arial";
    padding: 0 0 10px 0;
    margin: 0;
}

table{
    max-width: 960px;
    width: 100%;
    border-collapse: collapse;
    border-radius: 3px;
    overflow: hidden;
}


.table_list thead tr{
    color: #fff;
    background-color: #1f1f56;
}

.table_list th{
    padding: 13px 0 13px 20px;  
}

#cat1{
    text-align: right;
    padding: 0 20px 0 0;
    font-family: "RobotoSlab";
}

#cat2{
    text-align: left;
    font-family: "RobotoSlab";
}

#xxx{
    text-align: right;
    padding: 0 20px 0 0;
}

tbody tr{
    color: #666;
    background-color: #e4e4ec;
    border-radius: 3px;
    border-bottom: 1px solid #c2c2d1;
}

.table_list tbody tr:hover{
    color: #fff;
    background-color: #fd8300;
}

.table_list td{
    padding: 10px 0 10px 20px;
}

.section-second p{
    font-size: 13px;
    color: #666;
    font-family: "Arial";
}

#padding{
    padding: 28px 0 0 0;
    margin: 0;
}

.pad{
    padding: 20px 0 0 0;
}

.section-second a{
    font-size: 14px;
    text-decoration: none;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
}

.pad{
    margin: 0 0 35px;
}

.section-second a:hover{
    text-decoration: underline;
}

.section-second{
    border-bottom: 1px solid #e4e4ec;
    margin:0 0 30px 0;
}












.main-li:hover .main-headerline::before {
    border: 3px solid #fff;
    border-right: none;
    border-top: none;
}

.sub-menu {
    display: none;
}

.sub-menu li {
    margin: 0 -15px;
    padding: 11px 15px 11px 30px;
    background-color: #e4e4ec;
}

.sub-menu li:hover {
    background-color: #cecedd;
    cursor: url(../img/cursor-poin.cur), auto;
}

.sub-menu a {
    color: #666;
    font-size: 14px;
    text-decoration: none;
    line-height: 24px;
    cursor: url(../img/cursor-poin.cur), auto;
}

/*list*/


.title-text-project{
    font-size: 24px;
    color: #24242b;
    font-weight: 700;
    margin: 0 0 15px 0;
    font-family: "RobotoSlab";
}

hr{
    margin: 25px 29px 25px 0;
}

.projects{
    width: 100%;
    max-width: 713px;
    padding: 0 28px 35px 0;

    display: flex;
    justify-content: space-between;
}

.figure{
    margin: 0;
}

.before::before{
    content: url(../img/phone.png);
    position: absolute;
    margin: 0 0 0 -25px;
}

.maney sup{
    font-size: 14px;
}

.projects-title{
    font-size: 14px;
    color: #1f1f56;
    font-weight: bold;
}

.projects-title:hover{
    text-decoration: underline;
}


.projects-text{
    width: 220px;
    font-size: 13px;
    color: #9999a6;
    margin: 0;
    padding: 0;
}

.wrapper-third{
    width: 100%;
    max-width: 960px;
    
    margin: 0 auto;
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
}

.first-project{
    padding: 0 28px 0 0;
}

.second-project{
    padding: 0 28px 0 0;
}

.footer{
    background-color: #ededf5;
}


.footer-menu a{
    font-size: 14px;
    color: #666666;
    text-decoration: none;  
    cursor: url(../img/cursor-poin.cur), auto;
}

.footer-menu li{
    padding: 0  0 9px 0;
}


.footer-menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-info a{
    font-size: 14px;
    color: #666666;
    text-decoration: none;
    cursor: url(../img/cursor-poin.cur), auto;
}

.footer-menu a:hover{
    color: #fd8300;
}

.footer-info a:hover{
    color: #fd8300;
}

.footer-info ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-info li{
    padding: 0  0 9px 0;
}


.footer-contacts a{
    text-decoration: none;
    font-size: 18px;
    color: #25252c;
    font-weight: bold;
    display: block;
    margin: 8px 0;
    cursor: url(../img/cursor-poin.cur), auto;
}

.footer-contacts a:hover{
    text-decoration: underline;
    color: #fd8300;
}

.footer-gmail a{
    text-decoration: none;
    font-size: 16px;
    color: #25252c;
    display: block;
    margin: 8px 0;
    cursor: url(../img/cursor-poin.cur), auto;
}

.footer-gmail ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-gmail a:hover{
    text-decoration: underline;
    color: #fd8300;
}

.footer-gmain-img{
    display: flex;
}

.wrapper-fourth{
    background-color: #dcdce6;
}

.footer-image-icons img{
    display: block;
    margin: 5px 0;
    padding: 0 10px 0 0;
}

.wrapper-fourth p{
    font-size: 13px;
    color: #9999a6;
    text-align: center;
    margin: 0;
    padding: 15px 0;
}

@font-face {
    font-family: "RobotoSlab";
    src: url(../fonts/RobotoSlab-Bold.ttf);
}